p
{
    font-family: Verdana, sans-serif;
	font-size: 28px;
	color: white;
	text-border: 6px black solid;
   -webkit-text-stroke-color: black;
}
h1{
   font-family: Comic Sans MS, sans-serif;
   font-size: 20px;	
   color: white;
   font-weight: bold;
   text-border: 6px black solid;
   text-shadow: 4px 3px 3px black;
   -webkit-text-stroke-width: 0.7px;
   -webkit-text-stroke-color: black;
}
h2{
   font-family: Comic Sans MS, sans-serif;
   font-size: 35px;	
   color: white;
   font-weight: bold;
   text-border: 6px black solid;
   text-shadow: 5px 3px 4px black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
h3{
  font-family: 'SuperMario286', sans-serif;
  font-weight:normal;
  font-style:normal;
  margin: 100px auto;
}
h4{
font-family: Arial;
color: white;
}
body{
     background-image: url(background1.png);
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-attachment: fixed;
}
.slider{
 width: 512px;
 height: 512px;
 background: url(logo1.png);
 margin: 100px auto ;
 animation: slide 12s infinite; 
 transition-delay: 2s;
}

@keyframes slide{
 50%{
 background: url(bagprotot.png);
 }
 100%{
 background: url(logo1.png);
 }
}